@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-bitcount: "Bitcount Prop Single Ink", system-ui;
}

body {
  background: black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.bitcount-settings {
  font-weight: 400; 
}